.conteudo {
    width: 100vw;
    height: 90vh;

    padding: 40px;
    padding-left: 10vw;
    padding-right: 10vw;

    background-color: #E5E5E5;
    color: #2C2C2C;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pagina_cabecalho {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    align-items: center;
    color: black;
    margin-bottom: 5vh;
}

.titulo{
    margin-bottom: 2vh;
}