.conteudo {
    width: 100vw;
    height: 90vh;

    padding: 40px;
    padding-left: 10vw;
    padding-right: 10vw;

    background-color: #0D8C57;
    color: #E0E0E0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pagina_cabecalho {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    align-items: center;
    margin-bottom: 3vh;
    color: white;

    & .botao_novo {
        text-decoration: none;

        color: white;

        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;

        border-radius: 10px;
        background-color: #04331F;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.2s ease-in-out;
        }
    }
}

#campos {
    color: white;
    background-color: #04331F;
    border: 2px solid #4C8A70;
}

#linha {
    color: white;
    background-color: #1E4B3E;
    border: 2px solid #4C8A70;
}

.tabela {
    width: 70vw;
    overflow-x: auto;
    max-width: 100%;
    white-space: nowrap;
}

.nova_categoria {
    gap: 30px;
}

.tabela_header {
    color: #112a48;
}

.botao_editar {
    border: none;
    background-color: transparent;
    color: white;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
    }
}

.botao_excluir {
    border: none;
    background-color: transparent;
    color: white;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
    }
}

.categoria_header {
    color: black;
}